{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }],
      "react"
    ],
    "plugins": [
      "transform-react-jsx",
      "transform-es2015-spread",
      "transform-object-rest-spread"
    ]
}
  